@use '../../shared/helpers.scss' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	gap: 24px;
	height: 100vh;
	//height: calc(var(--vh, 1vh) * 100);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1em;

	@include screen-m {
		flex-direction: row;
	}

	&::before {
		content: '';
		z-index: -10;
		position: absolute;
		height: 100vh;
		width: 100vw;
		background-color: var(--black-5);
	}

	@include screen-m {
		gap: 32px;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: auto;
	margin-bottom: 48px;
	gap: 64px;
	width: 100%;

	@include screen-m {
		align-items: stretch;
		margin-top: 0;
	}

	@include if-tablet {
	}
}

.heading {
	display: flex;
	flex-direction: column;
}

.title {
	text-align: center;
	font-size: 32px;
	font-weight: 600;
	max-width: 480px;
	color: var(--black-100);

	@include screen-m {
		text-align: left;
		font-size: 56px;
	}
}

.subtitle {
	text-align: center;
	order: -1;
	font-size: 18px;
	font-weight: 600;
	opacity: 0.5;
	color: var(--black-100);

	@include screen-m {
		text-align: left;
		font-size: 32px;
	}
}
