:root {
	--vh: 1vh;
	--orange-120: #e87928;
	--orange-100: #ff8b37;
	--orange-80: #ffac70;
	--orange-5: #fff3eb;
	--green-100: #47d867;
	--green-5: #e6faea;
	--red-100: #ec6259;
	--red-5: #fdeeed;
	--black-100: #1c1c21;
	--black-40: #d0d0d8;
	--black-5: #f5f5f7;
	--white-100: #fff;
}

html,
body {
	height: calc(var(--vh, 1vh) * 100);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 100vw;
	color: var(--black-100);
}

* {
	&,
	&::before,
	&::after {
		padding: 0;
		margin: 0;
		background-repeat: no-repeat;
		background-position: center;
		box-sizing: border-box;
	}

	&::before,
	&::after {
		transition: inherit;
	}
}

a {
	text-decoration: none;
	color: var(--black-100);
}

button,
input,
select,
textarea {
	appearance: none;
	border: none;
	outline: none;
	background-color: transparent;
}

a,
button,
select,
summary {
	cursor: pointer;
}

a,
button,
input,
select,
textarea,
option,
p,
span {
	font-size: 1rem;
}

input,
textarea {
	resize: none;
}
