@use '../../shared/helpers.scss' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	gap: 24px;
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1em;

	@include screen-m {
		flex-direction: row;
	}

	&::before {
		content: '';
		z-index: -10;
		position: absolute;
		height: 100vh;
		width: 100vw;
		background-color: var(--white-100);
	}

	&::after {
		content: '';
		z-index: -9;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--orange-5);
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	}

	@include screen-m {
		gap: 32px;
	}
}

.container {
	margin-bottom: 48px;
	display: flex;
	flex-direction: column;
	gap: 64px;
	width: 100%;

	@include if-mobile {
		align-items: center;
		margin-top: auto;
	}
}

.heading {
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 32px;
	font-weight: 600;
	max-width: 480px;
	color: var(--black-100);

	@include if-mobile {
		text-align: center;
	}

	@include screen-m {
		font-size: 56px;
	}
}
