@use '../../../shared/helpers' as *;

.btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 294px;
	color: var(--white-100);
	font-weight: 600;
	background-color: var(--orange-100);
	font-size: 14px;
	border-radius: 8px;
	padding: 1em;
	transition: 320ms linear;

	@include screen-m {
		font-size: 20px;
		border-radius: 12px;
	}

	&:hover {
		background-color: var(--orange-80);
	}
	&:active {
		background-color: var(--orange-120);
	}
}
